@font-face {
  font-family: "vazir";
  src: url("../../fonts/vazir-font-v16.1.0/Vazir-FD-WOL.eot")
      format("embedded-opentype"),
    url("../../fonts/vazir-font-v16.1.0/Vazir-FD-WOL.ttf") format("truetype"),
    url("../../fonts/vazir-font-v16.1.0/Vazir-FD-WOL.woff") format("woff"),
    url("../../fonts/vazir-font-v16.1.0/Vazir-FD-WOL.woff2") format("woff2");
}

$Colors: (
  "clr-orange-dark": #f6481c,
  "clr-orange": #f4a261,
  "clr-orange-light": #e9c46a,
  "clr-orange-lighter": #ffe873,
  "clr-greenBlue": #2a9d8f,
  "clr-greenBlue-dark": #264653,
  "clr-blue-dark": #023047,
  "clr-blue": #046393,
  "clr-white": #fff,
  "clr-warning": #fff3cd,
  "clr-footer" :#222222,
  "clr-contact-bg": #25363e,
  "clr-contact-text": #b1dbe1,
);
